{%extends 'basic/base.html'%}

{%block title%}Dashboard{%endblock%}

{%block navbar%}
{%include 'basic/navbar.html'%}
{%endblock%}

{%block content%}
<h1 class="text-center">Dashboard</h1>
<div class="row mt-5">
    {%for playlist in playlist_list%}
    <div class="col-md-3">
        <a class="clickable" href="{%url 'detail_playlist' playlist.pk%}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{playlist.title}}</h5>
                    <p class="card-text text-center">{{playlist.created}}</p>
                </div>
            </div>
        </a>
    </div>
    {%endfor%}
</div>

<h2 class="text-center mt-5">Recommendation</h2>

<div class="mt-3 d-flex border-start border-end border-secondary recommendation">
    {%for recommended_song in recommended_list%}
    <div class="mx-3 recommended-song">
        <a class="clickable" href="{% url 'song' recommended_song.song.pk%}">
            <div class="card">
                {%include 'basic/song_card_minimum.html' with song=recommended_song.song%}
            </div>
        </a>
    </div>
    {%endfor%}
</div>
{%endblock%}