{%extends 'basic/base.html'%}
{% load crispy_forms_tags %}

{%block title%}{{playlist.title}}{%endblock%}

{%block navbar%}
{%include 'basic/navbar.html'%}
{%endblock%}

{%block content%}
<div class="mb-2">
    <h1 class="text-center">{{playlist.title}} - {{playlist.user}}</h1>
</div>

<div class="row pb-5 justify-content-center">
    <div class="col-md-6 border-start border-end border-secondary detail">
        {%include 'basic/song_card_small.html' with has_control=False%}
    </div>
</div>

<div class="row mb-1 justify-content-center">
    <div class="col-md-6">
        <form name="add" action="" method="post">
            {% csrf_token %}
            <button class="btn btn-primary control" type="submit">Add To Your Dashboard</button>
        </form>
    </div>
</div>

{%endblock%}